<div class="app-container" fxLayout="row" fxFill fxLayoutAlign="center center">
  <mat-card fxFlex="350px">
    <mat-card-title class="app-mb-4 app-text-center">
      {{ 'Prihlaseni do administrace' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-form-field" appearance="outline" class="app-w-100">
        <mat-label>{{ 'Přihlašovací jméno' | translate }}</mat-label>
        <input matInput type="text" #loginuser id="loginuser" type="text" class="form-control" name="loginuser" value="" [placeholder]="'Přihlašovací jméno' | translate" (keyup.enter)="focusp($event, loginpwd)" [(ngModel)]="state.loginuser">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline" class="app-w-100">
        <mat-label>{{ 'Heslo' | translate }}</mat-label>
        <input matInput type="password" id="loginpwd" type="password" class="form-control" name="loginpwd" placeholder="Heslo" #loginpwd (keyup.enter)="service.login()" [(ngModel)]="state.loginpwd">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-card class="app-alert app-warning app-mb-4" *ngIf="state.loginError">
        <mat-card-content><mat-icon>error</mat-icon>{{ 'Špatné přihlašovací údaje' | translate }}.</mat-card-content>
      </mat-card>
      <button mat-flat-button *ngIf="!state.logged" color="primary" (click)="service.login()" class="app-w-100">{{ 'Přihlásit uživatele' | translate }}</button>
      <button mat-flat-button *ngIf="state.logged" color="primary" (click)="service.logout()" class="app-w-100">{{ 'Odhlásit' | translate }}</button>
    </mat-card-content>
  </mat-card>
</div>