// --- LAYOUT ---

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  magazines-root {
    // sidenav
    mat-sidenav-container, 
    mat-sidenav-content, 
    mat-sidenav {
      height: 100%;
    }
    
    mat-sidenav {
      @import "./app-sidenav-list";
      width: $app-sidenav-width;
    }

    // header
    header {
      @import "./app-navbar";
    }

    main {
      height: calc(100% - #{$app-navbar-height});
      overflow: auto;
      background-color: $app-color-lightnes;
      position: relative;
      z-index: -1;
      background-color: $app-gray-0;

      .app-page-wrapper {
        @extend .app-pt-8, .app-pb-8, .app-pl-4, .app-pr-4;

        @import "app-facets";
        @import "app-facets-used";
      }

      .mat-icon {
        color: $app-color-primary;
      }
    }

    @import "./app-footer";

    // container
    .app-container {
      margin: 0 auto;
      max-width: $app-container;
      width: 100%;
      min-width: auto !important;
    }

    .app-container-fluid {
      max-width: 100%;
    }   
  }
}