// --- NAVBAR ---

app-navbar {
  .mat-toolbar {
    height: $app-navbar-height;

    a {
      color: $app-color-lightnes;
    }
    
    .app-left {
      .app-logo {
        font-weight: 400;
        font-size: 24px;

        span {
          color: rgba($app-color-lightnes, .6);

          &:not(.app-pipe) {
            font-weight: 200;
          }

          &.app-pipe {
            border-color: rgba($app-color-lightnes, .6);
          }
        }
      }
    }
  
    .app-right {
      a {
        &.mat-flat-button {
          @extend .app-clean-border, .app-ml-2, .app-mr-2;

          &.app-active {
            background-color: rgba($app-color-lightnes, .2);
          }
  
          .mat-icon {
            &:not(.app-menu .mat-icon) {
              @include setIcon($size: 20, $position: sub);
            }
          }
        }
      }
    }
  }
}