// --- LAYOUT ---

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  magazines-root {
    // sidenav
    mat-sidenav-container, 
    mat-sidenav-content, 
    mat-sidenav {
      height: 100%;
    }
    
    mat-sidenav {
      width: $app-sidenav-width;
    }

    main {
      .app-page-wrapper {
        @extend .app-pt-8, .app-pb-8, .app-pl-4, .app-pr-4;
      }

      .mat-icon {
        color: $app-color-primary;
      }
    }

    // container
    .app-container {
      margin: 0 auto;
      max-width: $app-container;
      width: 100%;
      min-width: auto !important;
    }

    .app-container-fluid {
      max-width: 100%;
    }   
  }
}