<h1 mat-dialog-title>{{ 'magazines.' + data.caption | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="app-w-100 app-clean-bottom-gap">
    <mat-label>{{ 'magazines.' + data.label | translate }}</mat-label>
    <input matInput cdkFocusInitial type="text" [(ngModel)]="result" autocomplete="on" id="result" [placeholder]="'magazines.' + data.label | translate">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="result" cdkFocusInitial>{{ 'magazines.ulozit' | translate }}</button>
  <button mat-button [mat-dialog-close]="null">{{ 'magazines.zavrit' | translate }}</button>
</div>

