<mat-form-field class="app-w-100" appearance="outline">
  <mat-label>{{ 'q_keywords_placeholder' | translate }}</mat-label>
  <input matInput type="text" #input>
  <div matSuffix class="app-fxLayout app-row app-center-v app-mr-4">
    <a *ngIf="input.value.length !== 0" [matTooltip]="'Zrušit filter' | translate">
      <mat-icon color="primary">clear</mat-icon>
    </a>
    <button mat-flat-button color="primary" class="app-ml-4"><mat-icon>search</mat-icon>{{ 'Vyhledat' | translate }}</button>
  </div>
</mat-form-field>

<div class="app-letters-wrapper app-mb-4">
  <button mat-button color="primary" 
    [disabled]="isEmptyNumbers()" class="app-mr-2" (click)="setLetter('0-9')" 
    [class.mdc-button--unelevated]="'0-9' === letter" [class.mdc-unelevated-button]="'0-9' === letter"
    [class.mdc-button--outlined]="'0-9' !== letter" [class.mat-mdc-outlined-button]="'0-9' !== letter">0-9</button>
    <button *ngFor="let l of state.letters" mat-button color="primary" 
      [disabled]="isEmpty(l)" class="app-mr-2" (click)="setLetter(l)" 
      [class.mdc-button--unelevated]="l === letter" [class.mdc-unelevated-button]="l === letter"
      [class.mdc-button--outlined]="l !== letter" [class.mat-mdc-outlined-button]="l !== letter">{{l}}</button>
</div>

<div class="app-results-wrapper app-fxLayout app-row app-mb-4">
  <div class="app-fxFlex">
    <h3 class="app-m-0" *ngFor="let k of keywords1"><a (click)="search(k.val)" [title]="k.val">{{ k.val }}</a></h3>
  </div>
  <div class="app-fxFlex">
    <h3 class="app-m-0" *ngFor="let k of keywords2"><a (click)="search(k.val)" [title]="k.val">{{ k.val }}</a></h3>
  </div>
</div>

<mat-paginator [length]="state.keywords.length" (page)="pageChanged($event)"
[pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>