<h2 >
	{{ nonSort }} {{ title }}
	<div>{{ subTitle }}</div>
</h2>

<p *ngIf="journal">
	<app-journal-details [journal]="journal"></app-journal-details>
</p>

<ng-container *ngIf="article">
	<div *ngIf="article.dateIssued">
		<strong>{{ 'Datum publikování' | translate }}:</strong>
		{{ article.dateIssued }}
	</div>

	<div *ngFor="let author of authors_full; let last = last">
		<strong>{{ (author.role ? 'role.' +  author.role : 'Autor') | translate }}:</strong>
		{{ author.name }} 
	</div>

	<div *ngIf="article.keywords && article.keywords.length > 0">
		<strong>{{ 'Klíčová slova' | translate }}:</strong>
		<span *ngFor="let keyword of article.keywords; let last = last">
			{{ keyword }}<ng-container *ngIf="!last">, </ng-container>
		</span>
	</div>

	<div *ngIf="article.abstract">
		<strong>{{ 'Abstrakt' | translate }}:</strong>
		{{ article.abstract }}
	</div>

	<div *ngIf="article.zdroj">
		<strong>{{ 'Zdroj' | translate }}:</strong>
		{{ article.zdroj }}
	</div>

	<div *ngIf="article.genre">
		<strong>{{ 'Rubrika' | translate }}: </strong>
		<span *ngFor="let g of article.genre; let last = last">
			<ng-container *ngIf="g !== 'peer-reviewed'">{{ 'genre.' +g | translate }}</ng-container><ng-container *ngIf="!last && g !== 'peer-reviewed'">, </ng-container>
		</span>
	</div>

	<div *ngIf="rozsah">
		<strong>{{ 'Rozsah stran' | translate }}:</strong>
		{{ 'rozsah_zkratka' | translate }} {{ rozsah }}
	</div>

	<div *ngIf="doi">
		<strong>{{'DOI' | translate}}:</strong>
		{{ doi }}
	</div>

	<div>
		<strong>{{ 'Status recenzování' | translate }}: </strong>
		<ng-container *ngIf="isPeerReviewed">{{ 'recenzovaný článek' | translate }}</ng-container>
		<ng-container *ngIf="!isPeerReviewed">{{ 'nerecenzovaný článek' | translate }}</ng-container>
	</div>


	<div *ngIf="accessCondition">
		<strong>{{'Licence' | translate}}: </strong>
		<a *ngIf="accessCondition['xlink:href']" [href]="accessCondition['xlink:href']" target="_blank">{{ accessCondition.content }}</a>
		<span *ngIf="!accessCondition['xlink:href']">{{ accessCondition.content }}</span>
		
	</div>
	<div *ngIf="!accessCondition">
		<strong>{{'Licence' | translate}}:</strong>
		{{ licence }}
	</div>
</ng-container>