<footer *ngIf="!state.isFull" class="app-brand text-shades white-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6" [innerHtml]="foot"> 
      </div><!--/.col-->
      <div class="col-xs-6 col-sm-6 text-right">
        <ng-template #popTemplate>
          <div class="app-wrapper">
            {{'info.klient-kramerius' | translate}}
            <hr />
            Created by 
            <a href="http://www.searchtechnologies.com/cz" title="Search Technologies" target="_blank">Search Technologies</a>
          </div>
        </ng-template><!--/tooltip html template -->
        <button [tooltip]="popTemplate" triggers="focus" container="body" class="btn app-btn app-btn-ico app-ico-white app-ico-27-27 app-ico-svg-two" rel="tooltip">
          <svg data-name="Vrstva 1" id="Vrstva_1" viewBox="0 0 25.13 25.13" xmlns="http://www.w3.org/2000/svg">
            <path d="M331.62,392.75a12.57,12.57,0,1,0,12.57,12.57,12.58,12.58,0,0,0-12.57-12.57h0Zm0,23.88a11.31,11.31,0,1,1,11.31-11.31,11.32,11.32,0,0,1-11.31,11.31h0ZM332,397.92a1.63,1.63,0,1,1-1.63,1.63,1.63,1.63,0,0,1,1.63-1.63h0Zm1.49,4.29h-2.76a1,1,0,1,0,0,1.94h0.1v5.66H329.7v1.94h4.8v-1.94h-1.06v-7.6h0Z" transform="translate(-319.05 -392.75)"></path>
          </svg>
          <svg data-name="Vrstva 1" id="Vrstva_1" viewBox="0 0 25.13 25.13" xmlns="http://www.w3.org/2000/svg">
            <path d="M332.62,392.75a12.57,12.57,0,1,0,12.57,12.57A12.58,12.58,0,0,0,332.62,392.75Zm0.34,5.17a1.63,1.63,0,1,1-1.63,1.63A1.63,1.63,0,0,1,333,397.92ZM336,412h-5v-2h1v-6h-0.32a1,1,0,0,1,0-2h2.76l0,8H336v2Z" transform="translate(-320.05 -392.75)"></path>
          </svg>
        </button>
      </div><!--/.col-->
    </div><!--/.row -->
  </div><!--/.container -->
</footer><!--/.footer -->