<div class="app-fxLayout app-row app-fill app-mb-4" *ngIf="item">
  <div class="app-left app-mr-8">
    <img [src]="img()" onerror="this.src='assets/img/thumb-no-image.png'" [title]="" class="app-mb-2" (click)="onDrillDown()" />
  </div>
  <div class="app-fxFlex app-right">
    <h2><a [routerLink]="['.', {pid:item['pid']}]" queryParamsHandling="preserve"> 
    <span *ngIf="supplement">{{supplement}}</span>
    <span *ngIf="year">{{'Rok' | translate}} {{year}}</span>
    <span *ngIf="volumeNumber">, {{'ročník' | translate}} {{volumeNumber}}</span>
    <span *ngIf="issueNumber"> {{'číslo' | translate}} {{issueNumber}}</span>
    <span *ngIf="partName">, {{partName}}</span></a></h2>
  </div>
</div>