::ng-deep .mat-sidenav {
  .app-p-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
  }

  .mat-toolbar {
    background-color: transparent;
    padding: 0;
    height: auto;

    .app-fxLayout {
      display: block;
    }

    .app-left {
      &.app-mobile {
        display: none !important;
      }

      &.app-desktop {
        display: block !important;
      }
    }

    .app-right {
      display: block;
    }

    .mat-mdc-unelevated-button {
      background-color: transparent;
      border-radius: 0;
      height: 42px;
      display: flex;
      justify-content: start;
      align-items: center;
      color: var( --app-color-darknes);
      border-bottom: 1px solid var(--app-gray-3);
    }
  }
}