.app-page-wrapper {
  .app-results-wrapper {
    .app-item {
      img {
        width: 34px;
        margin-right: 16px;
      }
  
      &.app-active {
        background-color: var(--palette-primary-50);
      }
  
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .app-fxLayout {
    @media only screen and (max-width: 599px) {
      &.app-mobile {
        flex-direction: column;
    
        .app-left {
          margin-bottom: 16px;
          margin-right: 0 !important;

          .app-results-wrapper {
            margin-right: 0 !important;
          }
        }

        &.app-flex-flow-reverese {
          flex-flow: column-reverse;
        }
      }
    }

    .app-right {
      flex: 1 1 50%;
    }
  }
}
