.app-fxLayout {
  flex-wrap: wrap;

  .app-left {
    img {
      max-width: 220px;
    }
  }

  .app-right {
    flex: 1 1 100%;
  }

  @media only screen and (min-width: 600px) {
    flex-wrap: nowrap;
  }
}