  // --- ADMIN ---

app-admin {
  .app-content {
    margin-top: 0;
    
    h3, textarea {
      margin-bottom: 20px;
    }
    
    .mce-tinymce {
      margin-bottom: 20px;
    }

    .app-admin-nav {
      li {
        &.app-list-divider {
          @extend .app-mt-3, .app-mb-3;
          border-bottom: 1px solid $app-brand-l-2;
        }

        a {
          padding: 0 4px 2px 4px !important;
        }     

        .glyphicon {
          @extend .app-mr-1;
          font-size: 14px;
          cursor: pointer;
          color: $app-brand-d-1;

          &:hover {
            color: black;
          }
        }

        .app-icon-position {
          @extend .app-mr-1;
        }
      }

      .nav-pills {
        list-style: none;
      }
    }
    
    .row {
      @extend .app-mb-4;
    }
  }
  
  div.form-group{
    margin-right: 10px;
  }

  .app-form-header {
    display: flex;

    div {
      flex: 1 1 100%;

      &:not(:last-child) {
        @extend .app-mr-2;
      }

      .app-input-desc {
        @extend .app-mb-1;
        font-family: 'Roboto-Condensed';
        font-size: 1.6rem;
        color: $app-brand-d-2;
      }
    }
  }
 }