// --- FOOTER ---

footer {
  padding: 7px 0;
  .row {
    & > div {
      a, .app-pipe {
        color: $app-brand-l-1;
      }
    }
    >div:first-child {
      padding-top: 2px;
      font-size: 1.4rem;
    }
    >div+div {
      padding-top: 2px;
      font-size: 1.4rem;
      
      .app-ico-27-27 {
        svg {
          width: 20px;
          height: 20px;
          fill: $app-brand-l-1;
          
          &:hover {
            fill: $body-bg;
          }
        }
      }
    }
  }
}