// --- LOGIN ---

app-login {
  text-align: center;
  
  .app-content {
    h3 {
      margin-bottom: 20px;
    }
    form {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
