  // --- ADMIN ---

app-admin {
  .app-content {
    margin-top: 0;
    
    h3, textarea {
      margin-bottom: 20px;
    }
    
    .mce-tinymce {
      margin-bottom: 20px;
    }
    
    .app-admin-nav {
      > li {
        &.active {
          strong {
            a {
              background-color: $brand-primary;
              color: $body-bg;
              
              &:hover {
                background-color: $brand-primary;
              }
            }
          } 
        }
        > strong {
          > a {
            padding: 0 7px 2px 7px;
            border-radius: 4px;
            
            &:hover {
              background-color: $app-brand-l-4;
            }
          } 
        }

        &.app-list-divider {
          @extend .app-mt-3, .app-mb-3;
          border-bottom: 1px solid $app-brand-l-2;
        }

        .glyphicon {
          @extend .app-mr-1;
          font-size: 14px;
          cursor: pointer;
          color: $app-brand-d-1;

          &:hover {
            color: black;
          }
        }

        .app-icon-position {
          @extend .app-mr-1;
        }
      }
      .nav-pills {
        > li {
          list-style: none;
          &.active {
            a {
              &:hover {
                background-color: $brand-primary;
              }
            }
          }
          a {
            padding: 0 7px 2px 7px;
            &:hover {
              background-color: $app-brand-l-4;
            }
          }
        }
      }
    }

    .row {
      @extend .app-mb-4;
    }
  }
  
  div.form-group{
    margin-right: 10px;
  }
}