<div class="app-nav-tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation"><span>{{'Vyhledat' | translate}}:</span></li>
          <li role="presentation" [routerLink]="['hledat', 'cokoliv']" routerLinkActive="active" queryParamsHandling="preserve">
            <a [routerLink]="['hledat', 'cokoliv']" queryParamsHandling="preserve">{{'cokoliv' | translate}}</a></li>
          <li role="presentation" [routerLink]="['hledat', 'autory']" routerLinkActive="active" queryParamsHandling="preserve">
            <a  [routerLink]="['hledat', 'autory']" queryParamsHandling="preserve" class="app-item-authors">{{'rejstřík autorů' | translate}}</a></li>
          <li role="presentation" [routerLink]="['hledat', 'rubriky']" routerLinkActive="active" queryParamsHandling="preserve">
            <a  [routerLink]="['hledat', 'rubriky']" queryParamsHandling="preserve">{{'rubriky' | translate}}</a></li>
          <li role="presentation" [routerLink]="['hledat', 'keywords']" routerLinkActive="active" queryParamsHandling="preserve">
            <a  [routerLink]="['hledat', 'keywords']" queryParamsHandling="preserve" class="app-item-keywords">{{'rejstřík klíčových slov' | translate}}</a></li>
        </ul>
      </div><!--/.col -->
    </div><!--./row -->
  </div><!--/.container -->
</div><!--/.app-nav-tabs -->