<mat-card *ngIf="item" class="app-mb-4 app-hover" [routerLink]="['.', {pid:item['pid']}]" queryParamsHandling="preserve">
  <mat-card-content class="app-fxLayout app-row">
    <div class="app-left app-mr-8">
      <img [src]="img()" onerror="this.src='assets/img/thumb-no-image.png'" [title]="" />
    </div>
    <div class="app-fxFlex app-right app-center-v">
      <h2>
        <span *ngIf="supplement">{{supplement}}</span>
        <span *ngIf="year">{{'desc.year' | translate}} {{year}}</span>
        <span *ngIf="volumeNumber">, {{'desc.volume' | translate}} {{volumeNumber}}</span>
        <span *ngIf="issueNumber"> {{'desc.issue' | translate}} {{issueNumber}}</span>
        <span *ngIf="partName">, {{partName}}</span>
      </h2>
      <!-- <button mat-flat-button color="primary" class="app-mb-6" (click)="gotoArticle()"><mat-icon>menu_book</mat-icon>Prohlizet</button> -->
    </div>
  </mat-card-content>
</mat-card>