<ng-container *ngIf="hasContext">
  <!-- debug
    <button mat-raised-button color="primary" (click)="setColor()">test</button> 
  -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="app-fxLayout app-column app-fill">
        <header>
          <app-heading></app-heading>
          <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
        </header>
        <main class="app-fxFlex app-fxLayout app-column app-oa-y">
          <div class="app-fxFlex app-page-wrapper">
            <div><a href="http://idnes.cz">Odkaz</a></div><br />
            <div>obsah</div><br />
            <div>obsah</div><br />
            <div>obsah</div><br />
            <div>obsah</div><br />
            <div>obsah</div><br />
            <div>obsah</div><br />
            <router-outlet></router-outlet>
          </div>
          <app-footer></app-footer>
        </main>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>