::ng-deep .mat-sidenav {
  .mat-toolbar {
    background-color: transparent;
    padding: 0;
    height: auto;

    .app-fxLayout {
      display: block;
    }

    .app-left {
      &.app-desktop {
        display: block !important;
      }
    }

    .app-right {
      display: block;
    }

    .mat-mdc-unelevated-button {
      background-color: transparent !important;
      border-radius: 0;
      height: 42px;
      display: flex;
      justify-content: start;
      align-items: center;
      color: var( --app-color-darknes);
      border-bottom: 1px solid var(--app-gray-3);

      &.mat-primary {
        --mat-mdc-button-persistent-ripple-color: transparent;
      }
    }

    .app-active {
      background-color: var(--app-gray-2) !important;
    }
  }
}