<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <app-navbar [isMobile]="isMobile" (sidenavClose)="sidenav.close()"></app-navbar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-fxLayout app-column app-fill">
      <header>
        <app-heading></app-heading>
        <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
        <app-breadcrumb></app-breadcrumb>
      </header>
      <main class="app-fxFlex app-fxLayout app-column"><!-- app-oa-y -->
        <div class="app-fxFlex"><!--  app-page-wrapper -->
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
