h2 {
  position: relative;
  line-height: 1.2em;
  color: var(--app-color-darknes);
  margin-bottom: 8px;
  font-weight: 200;

  &:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 30px;
    content: '';
    border-top: 1px solid var(--app-color-darknes);
  }
}

.app-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}