<div class="app-page-wrapper">
  <div class="app-container">
    <div class="app-fxLayout app-row app-fill">
      <div class="app-left app-mr-8">
        <img src="assets/img/thumb.png" onerror="this.src='assets/img/thumb-no-image.png'" [title]="" class="app-mb-2" />
        <button mat-stroked-button color="primary" class="app-db app-w-100"><mat-icon>inventory</mat-icon>archiv starscih rocniku</button>      
      </div>
      <div class="app-right app-fxFlex">
        <div>
          <h1>Rok 2022, ročník 29, číslo 1-2</h1>
          <button mat-flat-button color="primary" class="app-mb-6"><mat-icon>menu_book</mat-icon>Prohlizet</button>
        </div>
        <div>
          <h2 class="app-headline">Titulni list</h2>
          <div>
            <h3 class="app-m-0"><a href="" title="">Titulni list</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h2 class="app-headline">Editorial</h2>
          <div>
            <h3 class="app-m-0"><a href="" title="">Editorial</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h2 class="app-headline">Obsah</h2>
          <div>
            <h3 class="app-m-0"><a href="" title="">Obsah</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <mat-divider></mat-divider>

        <h2 class="app-headline">Hlavní články</h2>
        <div class="app-item">
          <div>
            <h3 class="app-m-0"><a href="" title="">Czech Books in the 1765 Auction of the Strängnäs Cathedral Library</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <div class="app-item">
          <div>
            <h3 class="app-m-0"><a href="" title="">Czech Books in the 1765 Auction of the Strängnäs Cathedral Library</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <div class="app-item">
          <div>
            <h3 class="app-m-0"><a href="" title="">Czech Books in the 1765 Auction of the Strängnäs Cathedral Library</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h2 class="app-headline">Zprávy</h2>
        <div class="app-item">
          <div>
            <h3 class="app-m-0"><a href="" title="">Czech Books in the 1765 Auction of the Strängnäs Cathedral Library</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
        <div class="app-item">
          <div>
            <h3 class="app-m-0"><a href="" title="">Czech Books in the 1765 Auction of the Strängnäs Cathedral Library</a></h3>
            <a href="" title="">Veselá, Lenka</a>
            <span class="app-pipe"></span>
            Pocet zobrazeni: <strong>33</strong>
          </div>
          <div>
            Rok 2022, ročník 29, číslo 1-2<span class="app-pipe"></span>
            s: <strong>3 - 4</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
