<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutGap="32px" style="width: 100%;">
    <div fxFlex>hovno</div>
    <div>vpravp</div>
  </div>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>




<!-- <mat-toolbar>
  <div class="container">
    <a (click)="goHome()" class="brand-logo">
      Digitální knihovna AV ČR <span class="cyan-text text-lighten-4">|</span> <span class="cyan-text text-lighten-4">online časopisy</span>
    </a>
    <div [align]="'right'">
      <div routerLinkActive="active" queryParamsHandling="preserve" #seznamCasopisu="routerLinkActive" >
        <a (click)="goHome()" title="Seznam časopisů">Seznam časopisů</a>
      </div>
      <div routerLink="o-projektu" queryParamsHandling="preserve" routerLinkActive="active" #oProjektu="routerLinkActive" >
        <a routerLink="o-projektu" title="O projektu">O projektu</a>
      </div>
      <div routerLink="vydavatele" queryParamsHandling="preserve" routerLinkActive="active" #vydavatele="routerLinkActive" >
        <a routerLink="vydavatele" title="Vydavatelé">Vydavatelé</a>
      </div>
      <div routerLink="kontakt" queryParamsHandling="preserve" routerLinkActive="active" #kontakt="routerLinkActive" >
        <a routerLink="kontakt" title="Kontakt">Kontakt</a>
      </div>
      <div *ngIf="state.logged" routerLink="admin" queryParamsHandling="preserve" routerLinkActive="active" #admin="routerLinkActive" >
        <a routerLink="admin" title="Admin">Admin</a>
      </div>
      <div routerLinkActive="active" queryParamsHandling="preserve" #prihlaseni="routerLinkActive" >
        <a *ngIf="!state.logged" routerLink="/prihlaseni" title="Login">{{'Přihlásit' | translate}}</a>
        <a *ngIf="state.logged" (click)="logout()" title="logout" class="app-btn">{{'Odhlásit' | translate}}</a>
      </div>
          
    </div>
    <a [id]="'app-btn-sidenav'" class="right">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
  <mat-toolbar> -->

<!-- Sidenav for responsive behavior -->
<!-- <mz-sidenav [id]="'app-sidenav'" [collapseButtonId]="'app-btn-sidenav'">
  <mz-sidenav-subheader>
    Hlavní navigace
  </mz-sidenav-subheader>
  <mz-sidenav-link routerLink="seznam-casopisu" queryParamsHandling="preserve" routerLinkActive="active" #seznamCasopisu="routerLinkActive" [active]="seznamCasopisu.isActive">
    <a (click)="goHome()" title="Seznam časopisů">Seznam časopisů</a>
  </mz-sidenav-link>
  <mz-sidenav-link routerLink="o-projektu" queryParamsHandling="preserve" routerLinkActive="active" #oProjektu="routerLinkActive" [active]="oProjektu.isActive">
    <a routerLink="o-projektu" title="O projektu">O projektu</a>
  </mz-sidenav-link>
  <mz-sidenav-link routerLink="vydavatele" queryParamsHandling="preserve" routerLinkActive="active" #vydavatele="routerLinkActive" [active]="vydavatele.isActive">
    <a routerLink="vydavatele" title="Vydavatelé">Vydavatelé</a>
  </mz-sidenav-link>
  <mz-sidenav-link routerLink="kontakt" queryParamsHandling="preserve" routerLinkActive="active" #kontakt="routerLinkActive" [active]="kontakt.isActive">
    <a routerLink="kontakt" title="Kontakt">Kontakt</a>
  </mz-sidenav-link>
</mz-sidenav> -->