<mat-toolbar color="primary">
  <div class="app-container-fluid app-fxLayout app-row app-fill app-center-v">
    <div class="app-left app-fxFlex">
      <a (click)="goHome()" class="app-logo app-desktop">
        {{ 'magazines.title' | translate }}<span class="app-pipe"></span> <span>{{ 'magazines.online_casopisy' | translate }}</span>
      </a>
      <a (click)="goHome()" class="app-logo app-mobile">
        {{ 'magazines.title_mobil' | translate }}<span class="app-pipe"></span> <span>{{ 'magazines.online_casopisy_mobil' | translate }}</span>
      </a>
    </div>
    <div class="app-right app-mobile">
      <a mat-flat-button color="primary" (click)="onToggleSidenav()" [title]="'magazines.navigace' | translate"><mat-icon>menu</mat-icon></a> 
    </div>
    <div class="app-right app-desktop">
      <a mat-flat-button routerLink="casopisy" routerLinkActive="app-active" color="primary" [title]="'magazines.seznam_casopisu' | translate">{{ 'magazines.seznam_casopisu' | translate }}</a>
      <a mat-flat-button routerLink="o-projektu" routerLinkActive="app-active" color="primary" [title]="'magazines.o_projektu' | translate">{{ 'magazines.o_projektu' | translate }}</a>
      <a mat-flat-button routerLink="vydavatele" routerLinkActive="app-active" color="primary" [title]="'magazines.vydavatele' | translate">{{ 'magazines.vydavatele' | translate }}</a>
      <a mat-flat-button routerLink="kontakt" routerLinkActive="app-active" color="primary" [title]="'magazines.kontakt' | translate">{{ 'magazines.kontakt' | translate }}</a>
      <a mat-flat-button *ngIf="state.logged" routerLink="admin" routerLinkActive="app-active" color="primary" [title]="'magazines.administrace' | translate">{{ 'magazines.administrace' | translate }}</a>
      <a mat-flat-button *ngIf="!state.logged" routerLink="prihlaseni" routerLinkActive="app-active" color="primary" [title]="'magazines.prihlasit_tooltip' | translate">{{ 'magazines.prihlasit' | translate }}</a>
      <a mat-flat-button *ngIf="state.logged" (click)="logout()" color="primary" [title]="'magazines.odhlasit' | translate">{{ 'magazines.odhlasit' | translate }}</a>
      <a mat-flat-button *ngIf="translate.currentLang === 'cs'" color="primary" (click)="changeLang('en')" [title]="'desc.en' | translate">{{ 'EN' | translate }}</a>
      <a mat-flat-button *ngIf="translate.currentLang === 'en'" color="primary" (click)="changeLang('cs')" [title]="'desc.cs' | translate">{{ 'CS' | translate }}</a>
    </div>
  </div>
</mat-toolbar>