
@use "sass:map";

@use "angular-material-css-vars" as mat-css-vars;
@use '@angular/material' as mat;

@import "sass/app-functions";
@import "sass/app-theme-default";
@import "sass/app-variables";
@import "sass/app-mixins";
@import "sass/app-gaps";
@import "sass/app-global";
@import "sass/app-mat-override";
@import "sass/app-layout";
@import "sass/app-flex-layout";

@include mat-css-vars.init-material-css-vars();

@include mat-css-vars.mat-css-set-palette-defaults(
  mat.$light-blue-palette,
  "primary"
);


$custom-typography-config: mat.define-legacy-typography-config(
  $font-family: 'Roboto Condensed',
  $body-1: mat-typography-level(
    $font-family: 'Roboto Condensed',
    $font-size: 16px,
    $font-weight: 400,
    $line-height: 20px,
    $letter-spacing: normal
  ),
  $button: mat-typography-level(
    $font-family: 'Roboto Condensed',
    $font-size: 14px,
    $font-weight: 500,
    $line-height: inherit,
    $letter-spacing: normal
  ),
);

//@include mat.typography-hierarchy($custom-typography-config);
@include mat.all-component-typographies($custom-typography-config);
@include mat.legacy-core();

