
@use "sass:map";

@use "angular-material-css-vars" as mat-css-vars;
@use '@angular/material' as mat;

@import "sass/app-functions";
@import "sass/app-theme-default";
@import "sass/app-variables";
@import "sass/app-mixins";
@import "sass/app-gaps";
@import "sass/app-global";
@import "sass/app-mat-override";
@import "sass/app-layout";
@import "sass/app-flex-layout";

.app-theme {
  // Typography config based on the default, but using "Comic Sans" as the
  // default font family for all levels.
  $kids-typography: mat.define-typography-config(
    $font-family: 'Roboto Condensed',
  );

  $kids-theme: mat.define-light-theme((
    typography: $kids-typography,
  ));

  @include mat.all-component-themes($kids-theme);
}

@include mat-css-vars.init-material-css-vars();

@include mat-css-vars.mat-css-set-palette-defaults(
  mat.$light-blue-palette,
  "primary"
);

