
<div class="app-container">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="cokoliv" [active]="isRouteActive('cokoliv')" class="app-text-capitalize">{{ 'cokoliv' | translate }}</a>
    <a mat-tab-link routerLink="autory" [active]="isRouteActive('autory')" class="app-text-capitalize">{{ 'rejstřík autorů' | translate }}</a>
    <a mat-tab-link routerLink="rubriky" [active]="isRouteActive('rubriky')" class="app-text-capitalize">{{ 'rubriky' | translate }}</a>
    <a mat-tab-link routerLink="keywords" [active]="isRouteActive('keywords')" class="app-text-capitalize">{{ 'rejstřík klíčových slov' | translate }}</a>
   </nav>
</div>

<div class="app-page-wrapper">
  <div class="app-container">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>

      <mat-card class="app-mb-4">
        <mat-card-content class="app-mb-n4">
          <div class="app-mb-4">
            <mat-checkbox name="onlyPeerReviewed" [(ngModel)]="onlyPeerReviewed" (ngModelChange)="setPeerReviewed()">{{ 'pouze v recenzovaných článcích' | translate }}</mat-checkbox>
          </div>
          <div class="app-mobile-row">
            <strong class="app-mr-2">{{ 'Datum publikování' | translate }}:</strong>
            <mat-form-field appearance="outline" class="app-mr-2">
              <mat-label>{{ 'od roku' | translate }}</mat-label>
              <input matInput [placeholder]="'od roku' | translate" name="dateOd" [(ngModel)]="state.dateOd" (keyup.enter)="dateChange()" (blur)="dateChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'do roku' | translate }}</mat-label>
              <input matInput [placeholder]="'do roku' | translate" name="dateDo" [(ngModel)]="state.dateDo" (keyup.enter)="dateChange()" (blur)="dateChange()">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <ng-container *ngIf="showResults()">
              
      <div class="app-fxLayout app-row app-center-v">
        <h1 class="app-fxFlex app-m-0">{{ 'Výsledky vyhledávání' | translate }}</h1>
        <div>
          {{ 'Výsledky řadit' | translate }}:
          <button mat-stroked-button color="primary" class="app-ml-2" [matMenuTriggerFor]="menuSort">
            {{ state.sorts[0].label | translate }}<mat-icon iconPositionEnd>expand_more</mat-icon>
          </button>
          <mat-menu #menuSort="matMenu">
            <button mat-menu-item *ngFor="let sort of state.sorts" (click)="setSort(sort)">{{ sort.label | translate }}</button>
          </mat-menu>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="app-fxLayout app-row app-center-v app-mb-4">
        <div class="app-fxFlex">
          <span [innerHTML]="'combined.numberResults' | translate: {val1: start + 1 + ' - ' + lastResult(), val2: numFound}"></span>
        </div>
      </div>

      <div class="app-results-wrapper app-mb-4">
        <app-article-result class="app-item" *ngFor="let doc of docs" [article]="doc"></app-article-result>
      </div>

      <mat-paginator [length]="numFound" (page)="pageChanged($event)"
       [pageSize]="rows" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
      </ng-container>
    </mat-tab-nav-panel>
  </div>
</div>
