.app-item {
  &:not(:last-child) {
    margin-bottom: 16px;
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .app-mobile-row {
    display: flex;
    flex-direction: column;

    strong {
      margin-bottom: 16px;
    }

    .mat-mdc-form-field {
      margin-right: 0 !important;
    }
  }
}
