@import "../../../../sass-magazines/app-functions";
@import "../../../../sass-magazines/app-theme-default";
@import "../../../../sass-magazines/app-variables";
@import "../../../../sass-magazines/app-mixins";
@import "../../../../sass-magazines/app-gaps";
@import "../../../../sass-magazines/app-global";
@import "../../../../sass-magazines/app-mat-override";
@import "../../../../sass-magazines/app-layout";
@import "../../../../sass/app-flex-layout";

.app-fxLayout {
  @extend .app-fxLayout-wrap;

  .app-left {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  @media #{$gt-sm} {
    .app-left {
      margin-right: 16px;
      flex-flow: nowrap;
      flex: 1 1 350px;
      box-sizing: border-box;
      max-width: 350px;
      min-width: 350px;
    }
  }
}