.app-toolbar {
  display: none;
  height: var(--app-toolbar-height);
  background-color: var( --app-toolbar-bg);
  border-bottom: 1px solid var( --app-toolbar-border-color);
}

.app-page-wrapper {
  .app-left {
    margin-right: 16px;
    flex: 1 1 350px;
    box-sizing: border-box;
    max-width: 350px;
    min-width: 350px;
  }
}

@media only screen and (max-width: 959px) {
  .app-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
  }

  .app-page-wrapper {
    .app-left {
      display: none;
      flex: 1 1 100%;
      box-sizing: border-box;
      max-width: 100%;
      min-width: 100%;
    }

    &.app-mobile-facet-active {
      .app-left {
        display: block;
      }

      .app-right {
        display: none;
      }
    }

    &.app-mobile-result-active {
      .app-left {
        display: none;
      }

      .app-right {
        display: block;
      }
    }
  }
}