// collapse content show more / less
.app-collapse {
  margin-bottom: 0 !important;
  opacity: 0;
  // max-height: 0;
  transition: .25s ease;

  .mat-divider {
    transition: .25s ease;
  }

  &.app-in {
    margin-bottom: 16px;
    opacity: 1;
    font-size: inherit;
    // max-height: 300px;

    .mat-divider {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
