<mat-card class="app-mb-4">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="app-left">
      <a [href]="resultItem.ctx" queryParamsHandling="preserve" [matTooltip]="resultItem.title" matTooltipPosition="above" target="_blank" >
        <img [src]="resultItem.img" alt="thumb" />
      </a>
    </div>
    <div class="app-right">
      <mat-card-title>{{ resultItem.title }}</mat-card-title>
      <div>
        <label class="app-label">{{ 'magazines.vydavatel' | translate }}: </label>
        <a [routerLink]="['/magazines/vydavatel', resultItem.vydavatel_id]" queryParamsHandling="preserve" [title]="resultItem.vydavatel">{{ resultItem.vydavatel }}</a>
      </div>
      <div>
        <label class="app-label">{{ 'magazines.oblast' | translate }}: </label>
        <a (click)="addFilter('oblast', resultItem.oblast)" [title]="resultItem.oblast">{{ resultItem.oblast }}</a>
      </div>
      <div>
        <label class="app-label">ISSN: </label>
        {{ resultItem.issn }}
      </div>
      <div>
        <label class="app-label">{{ 'magazines.keywords' | translate }}: </label>
        <span *ngFor="let keyword of resultItem.keywords">
          <a (click)="addFilter('keywords', keyword)" [title]="keyword">{{ keyword }}</a>, 
        </span>
      </div>
      <div>
        <label class="app-label">{{ 'magazines.pristup' | translate }}: </label>
        <a (click)="addFilter('pristup', resultItem.pristup)" [title]="resultItem.pristup">{{ resultItem.pristup }}</a>
      </div>
      <div>
        <label class="app-label">{{ 'magazines.kontakt' | translate }}: </label>
        <a target="_blank" [href]="'mailto:' + resultItem.kontakt" [title]="resultItem.kontakt">{{ resultItem.kontakt }}</a>
      </div>
    </div>
  </div>
  <mat-card-content class="app-collapse" [class.app-in]="showingDetail"><!--*ngIf="showingDetail"-->
    <mat-divider></mat-divider>
    {{ translate.currentLang === 'en' ? resultItem.desc_en :  resultItem.desc }}
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutGap="32px">
    <div fxFlex>
      <a mat-flat-button [href]="resultItem.ctx" [matTooltip]="resultItem.ctx" matTooltipPosition="above" target="_blank">
        <mat-icon>link</mat-icon> {{ 'magazines.vstup_na_web' | translate }}
      </a>
    </div>
    <div>
      <button mat-flat-button (click)="showDetail()" [class]="showingDetail ? 'app-rotate-up' : 'app-rotate-down'">
        <mat-icon>expand_more</mat-icon> {{ showingDetail ? ('magazines.skryt_detail' | translate ) : ('magazines.zobrazit_detail' | translate) }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>