
            <div class="app-section app-section-search-form app-section-search-form-full">
              <div class="app-item">
                <div class="app-col-left">
                  <input id="app-search-key-words" type="text" class="form-control" [placeholder]="'q_keywords_placeholder' | translate" 
                         [typeahead]="state.keywords" [(ngModel)]="qkeyword" (typeaheadOnSelect)="searchInput()" typeaheadOptionField="val" />
                </div>
                <!--/.col -->
                <div class="app-col-right">
                  <button class="btn app-btn app-btn-square app-ico-white app-ico-brand-hover app-ico-36-36 app-clean-radius">
                    <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                      <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                      <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                      <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                    </svg>
                  </button>
                </div><!--/.col -->
              </div><!--/.app-item -->
            </div><!--/.app-section -->
            
            <div class="app-section">
              <nav class="app-nav-items">
                <ul *ngIf="state.keywords.length > 0" class="list-unstyled app-brand-text app-font-pt-serif app-font-s30">
                  <li [class.active]="'0-9' === letter">
                    <a *ngIf="!isEmptyNumbers()" (click)="setLetter('0-9')" 
                      title="">{{'0-9'}}</a>
                    <span *ngIf="isEmptyNumbers()" 
                      class="app-brand-text text-lighten-2" 
                      title="">{{'0-9'}}</span>
                  </li>
                  <li *ngFor="let l of state.letters" [class.active]="l === letter">
                    <a *ngIf="!isEmpty(l)" (click)="setLetter(l)" 
                      title="">{{l}}</a>
                    <span *ngIf="isEmpty(l)" 
                      class="app-brand-text text-lighten-2" 
                      title="">{{l}}</span>
                  </li>
                </ul>
              </nav>
            </div><!--/.app-section -->
            
            <div class="app-section app-font-pt-serif app-brand-text">
              <div class="row">
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li *ngFor="let k of keywords1"><a (click)="search(k.val)" title="">{{k.val | translate}}</a></li>
                  </ul>
                </div><!--/.col -->
                <div class="col-xs-6">
                  <ul class="list-unstyled">
                    <li *ngFor="let k of keywords2"><a (click)="search(k.val)" title="">{{k.val | translate}}</a></li>
                  </ul>
                </div><!--/.col -->
              </div><!--/.row -->
            </div><!--/.app-section -->
            
            <app-pagination [numPages]="5" [totalPages]="totalPages" (onGotoPage)="setPage($event)" [current]="page"></app-pagination>