<div class="container" *ngIf="editor">
  <div class="row">
    <div class="col s12">
      <h5>{{editor.name}}</h5>
      <span class="grey-text text-darken-1">
        <p>
          Adresa: {{editor.adresa}}<br />
          Web: <a [href]="editor.web" [title]="editor.name" target="_blank">{{editor.web}}</a>
        </p>
      </span>
      <strong>Vydávané časopisy:</strong>
      <div class="row">
        <div class="col s12 m12 l12 xl8" *ngIf="state.magazines.length > 0">
          <app-seznam-item *ngFor="let resultItem of state.magazines" [resultItem]="resultItem"></app-seznam-item>
        </div><!--/.col -->
      </div><!--/.row -->
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->