<mz-card [hoverable]="true" [class]="'grey-text text-darken-1'">
  <mz-card-content>
    <div class="row app-clean-mg">
      <div class="col s2">
        <a routerLink="/{{resultItem.ctx}}" queryParamsHandling="preserve" mz-tooltip [tooltip]="resultItem.title" [position]="'top'" class="left cyan-text text-darken-1" >
        <img [src]="resultItem.img" alt="thumb" class="responsive-img" />
        </a>
      </div>
      <div class="col s10">
        <h5 class="grey-text text-darken-4">{{resultItem.title}}</h5>
        <div>
          <label>Vydavatel:</label>
          <a [routerLink]="['/vydavatel', resultItem.vydavatel_id]" queryParamsHandling="preserve" title="{{resultItem.vydavatel}}">{{resultItem.vydavatel}}</a>
        </div>
        <div>
          <label>Oblast:</label>
          <a (click)="addFilter('oblast', resultItem.oblast)" title="{{resultItem.oblast}}">{{resultItem.oblast}}</a>
        </div>
        <div>
          <label>ISSN:</label>
          {{resultItem.issn}}
        </div>
        <div>
          <label>Klíčová slova:</label>
          <span *ngFor="let keyword of resultItem.keywords">
            <a (click)="addFilter('keywords', keyword)" title="{{keyword}}">{{keyword}}</a>, 
          </span>
        </div>
        <div>
          <label>Přístup:</label>
          <a (click)="addFilter('pristup', resultItem.pristup)" title="{{resultItem.pristup}}">{{resultItem.pristup}}</a>
        </div>
        <div>
          <label>Kontakt:</label>
          <a href="mailto: {{resultItem.kontakt}}" title="{{resultItem.kontakt}}">{{resultItem.kontakt}}</a>
        </div>
      </div><!--/.col -->
    </div><!--/.row -->
    
    <div class="app-card-detail" [attr.id]="'app-card-detail-' + id" style="display:none;">
      {{resultItem.desc}}
    </div>
  </mz-card-content>
  <mz-card-action class="clearfix">
    <a href="{{resultItem.ctx}}" mz-tooltip [tooltip]="resultItem.ctx" [position]="'top'" class="left cyan-text text-darken-1" target="_blank">
      <i class="app-mdi-open-in-new"></i>
      Vstup na web
    </a>
    <a *ngIf="showingDetail" class="right app-clean-mg" (click)="toggleDetail('app-card-detail-' + id)">
      Méně informací
    </a>
    <a *ngIf="!showingDetail" class="right app-clean-mg" (click)="toggleDetail('app-card-detail-' + id)">
      Více informací
    </a>
  </mz-card-action>
</mz-card>