<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
    </header>
    <main fxLayout="column">
      <div fxFlex class="app-page-wrapper">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<pdf-viewer
[src]="'https://vadimdez.github.io/ng2-pdf-viewer/assets/pdf-test.pdf'"
[rotation]="0"
[original-size]="true"
[show-all]="true"
[fit-to-page]="true"
[zoom]="1"
[zoom-scale]="'page-width'"
[stick-to-page]="false"
[render-text]="true"
[external-link-target]="'blank'"
[autoresize]="true"
[show-borders]="false"
></pdf-viewer>