<mz-collapsible [mode]="'expandable'" *ngIf="state.filters.length > 0">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
      <strong>{{'used_filters' | translate}}</strong>
      <i mz-icon-mdi [icon]="'close-circle'" [class]="'app-clean-mg'" mz-tooltip [tooltip]="'Zrušit všechny filtry'" [position]="'top'"
         (click)="removeAllFilters()"></i>
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <mz-collection>
        <mz-collection-item *ngFor="let facetUsed of state.filters; let idx = index;">
          <span class="app-row">
            <a (click)="removeFilter(idx)">{{facetUsed.field | translate}}: {{facetUsed.value}}</a>
            <span>
              <i (click)="removeFilter(idx)" mz-icon-mdi [icon]="'close'" [class]="'app-clean-mg app-cursor-pointer right red-text'" mz-tooltip [tooltip]="'Zrušit tento filtr'" [position]="'top'"></i>
            </span>
          </span>
        </mz-collection-item>
      </mz-collection>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>