<div class="app-page-wrapper">
  <div class="app-container">
    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <mat-form-field appearance="outline" class="app-fxFlex app-mr-2 app-form-field-center-v-fix">
        <mat-label>{{ 'Zadat uuid' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="indexUUID" name="indexUUID" >
      </mat-form-field>
      <div>
        <mat-checkbox class="app-mr-4" [(ngModel)]="isK7" id="isK7">Kramerius 7</mat-checkbox>
        <button mat-flat-button color="primary"  class="app-mr-2" (click)="index()">{{ 'Přidat UUID' | translate }}</button>
        <button mat-flat-button color="primary" (click)="openConfirm()">{{ 'Smazat UUID' | translate }}</button>
      </div>
    </div>
    
    <mat-divider></mat-divider>
    
    <input type="file" #fileUpload ng2FileSelect [uploader]="coverUploader" style="display:none;" (change)="onFileSelected($event)">
    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <mat-form-field appearance="outline" class="app-fxFlex app-form-field-center-v-fix app-mr-2">
        <input matInput type="text" name="selectedCover" [(ngModel)]="selectedCover">
        <button matPrefix mat-stroked-button color="primary" class="app-mr-2 app-ml-2" (click)="fileUpload.click()">{{ 'admin.cover' | translate }}: {{ 'Vybrat soubor' | translate }}</button>   
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="uploadCover()">{{ 'Nahrat' | translate }}</button>
    </div>
    <mat-progress-bar mode="determinate" [value]="coverUploader.progress"></mat-progress-bar>
    
    <mat-divider></mat-divider>
    
    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <mat-form-field appearance="outline" class="app-fxFlex app-mr-4 app-form-field-center-v-fix">
        <input matInput type="text" #input>
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary"  class="app-mr-2" (click)="setLicences()">{{'magazines.nastavit_licenci' | translate}}</button>
        <button mat-flat-button color="primary" (click)="showResetPwd()">{{ 'Resetovat heslo' | translate }}</button>
      </div>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="app-fxLayout app-row app-center-v app-mb-4">
      <strong>{{ 'admin.sort' | translate }}:</strong>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="sortBy">
        <mat-radio-button name="sortBy" ngDefaultControl id="by_genre" value="genre" >{{ 'admin.by_genre' | translate }}</mat-radio-button>
        <mat-radio-button name="sortBy" id="by_order" value="order">{{ 'admin.by_order' | translate }}</mat-radio-button>
      </mat-radio-group>
      <mat-checkbox class="app-mr-4">Nechat názvy článků</mat-checkbox>
      <button mat-flat-button color="primary"  class="app-mr-2" (click)="saveMagazine()">{{ 'Uložit' | translate }}</button>
    </div>    
  </div>
</div>