<header *ngIf="!state.isFull">
  <div class="app-title">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-9">
          <h1 class="app-clean-mg">
            <a routerLink="home" queryParamsHandling="preserve" title="Home" *ngIf="state.config"> 
              <span *ngIf="state.config['showTitleLabel']">{{'ČASOPIS' | translate}}</span>&#160;
              <span *ngIf="state.ctx?.title" class="app-font-roboto-cb">{{state.ctx?.title! | translate}}</span>
              <span *ngIf="state.ctx?.subtitle" class="app-font-roboto-cb">: {{state.ctx?.subtitle! | translate}}</span>
            </a>
          </h1>
        </div><!--/.col -->
        <div class="col-xs-6 col-sm-3 text-right">
          <a *ngIf="state.logged" routerLink="admin" queryParamsHandling="preserve" title="Admin" class="app-btn">Admin</a>
          <a *ngIf="!state.logged" routerLink="prihlaseni" queryParamsHandling="preserve" title="login" class="app-btn">{{'Přihlásit' | translate}}</a>
          <a *ngIf="state.logged" (click)="appservice.logout()" title="logout" class="app-btn">{{'Odhlásit' | translate}}</a>
          <a *ngIf="currentLang==='cs'" (click)="changeLang('en')" title="English" class="app-btn">English</a>
          <a *ngIf="currentLang==='en'" (click)="changeLang('cs')" title="Český" class="app-btn">Česky</a>
        </div><!--/.col -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.app-title -->

  <nav class="navbar app-brand app-clean-border app-clean-mg">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!--/.navbar-header -->
      <div id="navbar" class="collapse navbar-collapse" [collapse]="!isCollapsed" *ngIf="menu">
        <ul *ngIf="menu" class="nav navbar-nav">
          <li routerLink="actual" queryParamsHandling="preserve" #aa="routerLinkActive" [attr.active]="aa.isActive" routerLinkActive="active">
            <a routerLink="actual" queryParamsHandling="preserve" title="Aktuální číslo">{{'menu.actual_' | translate}}</a></li>
          <li *ngIf="menu['o-casopisu'].visible" routerLinkActive="active" class="btn-group" dropdown>
            <a dropdownToggle type="button" class="dropdown-toggle">
            <span routerLink="o-casopisu" queryParamsHandling="preserve">{{'menu.o-casopisu_' | translate}}</span> <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu app-clean-border" role="menu">
              <li *ngFor="let m of menu['o-casopisu'].submenu" >
                <a *ngIf="m.visible" [routerLink]="['o-casopisu', m.route]" queryParamsHandling="preserve">{{'menu.o-casopisu.'+m.route+'_' | translate}}</a></li>
            </ul>
          </li>
          <li *ngIf="menu['pro-autory'].visible" routerLinkActive="active" class="btn-group" dropdown>
            <a dropdownToggle type="button" class="dropdown-toggle">
            <span routerLink="pro-autory" queryParamsHandling="preserve">{{'menu.pro-autory_' | translate}}</span> <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu app-clean-border" role="menu">
              <li *ngFor="let m of menu['pro-autory'].submenu" >
                <a *ngIf="m.visible" [routerLink]="['pro-autory', m.route]" queryParamsHandling="preserve">{{'menu.pro-autory.'+m.route+'_' | translate}}</a></li>
            </ul>
          </li>
          <li routerLink="archiv" queryParamsHandling="preserve" routerLinkActive="active">
            <a routerLink="archiv" queryParamsHandling="preserve" title="Archiv">{{'menu.archiv_' | translate}}</a></li>
          <li routerLink="kontakt" queryParamsHandling="preserve" *ngIf="menu['kontakt'].visible" routerLinkActive="active">
            <a routerLink="kontakt" queryParamsHandling="preserve" title="">{{'menu.kontakt_' | translate}}</a></li>
          <li routerLink="e-shop" queryParamsHandling="preserve" *ngIf="menu['e-shop'].visible" routerLinkActive="active">
            <a routerLink="e-shop" queryParamsHandling="preserve" title="">{{'menu.e-shop_' | translate}}</a></li>
          <li routerLink="hledat" queryParamsHandling="preserve" routerLinkActive="active">
            <a routerLink="hledat" queryParamsHandling="preserve" title="Hledani">
              <button class="btn app-btn app-btn-ico app-ico-20-20 app-ico-white">
                <svg id="Vrstva_1" data-name="Vrstva 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1">
                    <path d="M523.44,392.24l-5.53-5.53a10.64,10.64,0,0,1-3.2,3.2l5.53,5.53a2.26,2.26,0,0,0,3.2-3.2h0Z" transform="translate(-500 -372)"/>
                    <path d="M518.08,381a9,9,0,1,0-9,9,9,9,0,0,0,9-9h0Zm-9,6.78a6.78,6.78,0,1,1,6.78-6.78,6.79,6.79,0,0,1-6.78,6.78h0Z" transform="translate(-500 -372)"/>
                    <path d="M503.77,381h1.51a3.77,3.77,0,0,1,3.77-3.77v-1.51a5.28,5.28,0,0,0-5.27,5.27h0Z" transform="translate(-500 -372)"/>
                </svg>
              </button> {{'Vyhledat' | translate}}
            </a>
          </li>
        </ul><!--/.navbar-nav -->
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </nav><!--/.navbar -->

  <!-- Breadcrumb -->
  <app-breadcrumbs></app-breadcrumbs>
  <!--/.app breadcumb -->

  <app-search-tabs *ngIf="state.route === 'hledat'"></app-search-tabs>
</header><!--/header -->