<h1 mat-dialog-title>{{ 'magazines.licence_pro' | translate }}: <span>{{ data.title }}</span></h1>
<div mat-dialog-content>
  <table [cellPadding]="0" [cellSpacing]="0" class="app-table app-w-100">
    <tbody>
      <tr *ngFor="let item of cache[data.journal].children">
        <td>{{ item.label }}</td>
        <td>
          <input id="licence" name="licence" type="text" [(ngModel)]="cache[item.pid].licence" class="app-input">
          <div *ngIf="cache[item.pid]?.children">
            <div *ngFor="let sitem of cache[item.pid].children">
              <label class="app-label app-mr-2">{{ sitem.label }}:</label> 
              <input name="slicence" type="text" [(ngModel)]="cache[sitem.pid].licence" class="app-input app-mt-2">
            </div>
          </div>
        </td>
        <td>
          <button mat-button color="primary" (click)="getChildren(item.pid, item)" [class]="showingNumbers ? 'app-rotate-up' : 'app-rotate-down'">
            <mat-icon>expand_less</mat-icon> {{ showingNumbers ? ('magazines.skryt_cisla' | translate ) : ('magazines.zobrazit_cisla' | translate) }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">{{ 'magazines.ulozit' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'magazines.zavrit' | translate }}</button>
</div>
