// --- FACETS ---
app-root magazines-root {
app-facets, 
app-facets-used {
  .collapsible {
    margin: 0 0 20px 0;
    @extend .app-card-shadow;
    @extend .app-card-hoverable;
    @extend .app-card-border;
    
    .collapsible-header {
      position: relative;
      color: color("grey", "darken-1");
      
      .mdi-chevron-down, .mdi-chevron-left, .mdi-close-circle {
        position: absolute;
        top: 0;
        right: 15px;
      }
      
      .mdi-chevron-down {
        display: none;
      }
      .mdi-chevron-left {
        display: block;
      }
      &.active {
        .mdi-chevron-down {
          display: block;
        }
        .mdi-chevron-left {
          display: none;
        }
      }
    }
    .collapsible-body {
      @extend .app-clean-pd;
      
      .app-row {
        display: table;
        width: 100%;
        
        a {
          display: table-cell;
          width: 90%;
          vertical-align: top;
        }
        span {
          display: table-cell;
          width: 10%;
          vertical-align: top;
        }
      }
    }
  }
}
}