// --- HEADER ---
app-root magazines-root {
app-header {
  nav {
    margin-bottom: 20px;
    @extend .z-depth-0;
    
    .brand-logo {
      font-size: 1.6rem;
      //font-size: 1.6vw;

      span {
        font-weight: 100;
        &+span {
          font-weight: 300;
        }
      }
    }
    
    // mq

    @media #{$large-and-up} {
      #app-btn-sidenav {
        display: none !important;
      } 
    }
    
    @media #{$custom-1300-and-992} {
      .brand-logo {
        font-size: 1.5vw;
      } 
    }
    @media #{$small-and-down} {
      .brand-logo {
        font-size: 3.5vw;
      } 
    }
  }
}
}