// --- GLOBAL ---

html, body {
  height: 100%;
}

body app-root  {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: $primary-color !important;

  > .preloader-wrapper {
    margin-top: 100px;
  }
}


app-root magazines-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    position: relative;
    min-height: 500px;

    a:hover {
      opacity: 0.6;
    }
  }


  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 300;
  }


  // cleaners
  .app-clean-mg {
    margin: 0 !important;
  }

  .app-clean-pd {
    padding: 0 !important;
  }


  // clearfix
  .clearfix {
    @include clearfix();
  }


  // loading ico
  .preloader-wrapper {
    margin-right: auto;
    margin-left: auto;
  }


  // others
  a, 
  .app-cursor-pointer {
    cursor: pointer;
  }


  // card
  .app-card-shadow {
    box-shadow: 0 2px 2px 0 rgba(38, 50, 56, 0), 0 1px 5px 0 rgba(38, 50, 56, 0.1), 0 3px 1px -20px rgba(38, 50, 56, 0.1);
  }

  .app-card-border {
    @include set-border(all, 1, solid, #d5dfe3);
  }

  .app-card-hoverable {
    &.hoverable {
      &:hover {
        box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.1), 0 6px 20px 0 rgba(38, 50, 56, 0.19);
      }
    }
  }

  app-magazine-edit input{
    height: 2rem !important;
    margin-bottom: 10px !important;
  }

  .nav-pills > li {
    float: left;
  }
}

app-login {
  text-align: center;
  
  .app-content {
    h3 {
      margin-bottom: 20px;
    }
    form {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

app-magazine-edit .row{
  margin-bottom: 10px;
}

.app-admin-nav {
      > li {
        &.active {
            a {
              background-color: $primary-color;
              color: #fff;
              
              &:hover {
                background-color: $primary-color;
              }
            }
        }
      }
}



@media print {
  a[href]:after {
    content: none
  }
}