<div class="app-page-wrapper">
  <div class="app-container">
    <div class="app-fxLayout app-row app-fill">
      <div class="app-left app-mr-8">
        <img [src]="state.imgSrc" onerror="this.src='assets/img/thumb-no-image.png'" [title]="" class="app-mb-2"
          routerLink="../home" queryParamsHandling="preserve" />
        <button mat-stroked-button color="primary" class="app-db app-w-100 app-mb-2"
        routerLink="../actual" queryParamsHandling="preserve"><mat-icon>menu_book</mat-icon>{{'AKTUÁLNÍ ČÍSLO' | translate}} </button>
        <button mat-stroked-button color="primary" class="app-db app-w-100"
        routerLink="../archiv" queryParamsHandling="preserve"><mat-icon>inventory</mat-icon>{{'ARCHIV STARŠÍCH ROČNÍKŮ' | translate }}</button>      
      </div>
      <div class="app-right app-fxFlex">
        <h1>Journal {{ state.currentMagazine.title }}</h1>
        <p [innerHTML]="home_text"></p>
        <h2 class="app-headline">{{ 'Aktuálně' | translate }}</h2>
        <app-free-text [page]="'news'"></app-free-text>
        <ng-container *ngIf="showDb()">
        <mat-divider></mat-divider>
          <strong>Časopis je zařazen v databázích:</strong>
          <app-free-text [page]="'db'"></app-free-text>
        </ng-container>
      </div>
    </div>
  </div>
</div>