<div class="app-container">
  <div class="app-fxLayout app-row app-fill">
    <div class="app-left app-mr-4">
      <img src="https://k5journals.inovatika.dev/api/img?obalka=true&ctx=knihyadejiny&uuid=uuid:fc144bf1-8d61-4f4b-80f9-e4a772db32dc&kramerius_version=k7&thumb=true" [title]="" class="app-mb-2" />
      <button mat-stroked-button color="primary" class="app-db app-w-100 app-mb-2">aktualni cislo</button>
      <button mat-stroked-button color="primary" class="app-db app-w-100">archiv starscih rocniku</button>      
    </div>
    <div class="app-right app-fxFlex">
      <h1>Journal {{ state.currentMagazine.title }}</h1>
      <mat-divider></mat-divider>
      text
      <mat-divider></mat-divider>
      aktualne
      <mat-divider></mat-divider>
      loga
    </div>
  </div>
</div>
