<div class="app-container">
  <mat-tab-group>
    <mat-tab [label]="'magazines.casopisy' | translate">
      <div class="app-fxLayout app-row app-mt-8">
        <div class="app-left">
          <button mat-flat-button (click)="addJournal()" color="primary" class="app-w-100 app-text-left app-mb-4"><mat-icon>add</mat-icon>{{ 'magazines.pridat_casopis' | translate }}</button>
          <mat-list role="list" class="app-view-admin">
            <mat-list-item *ngFor="let ctx of state.ctxs" [class.app-active]="currentMag && ctx.ctx === currentMag.ctx" role="listitem" (click)="editCtx(ctx)" class="app-cursor-pointer">
              <a><mat-icon>menu_book</mat-icon>{{ ctx.ctx || ctx.title }}</a>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="currentMag" class="app-right app-fxFlex">
          <app-magazine-edit [mag]="currentMag" [editors]="editors"></app-magazine-edit>
          <button mat-flat-button (click)="save()" color="primary" class="app-mr-2">{{ 'magazines.ulozit_casopis' | translate }}</button>
          <button mat-flat-button (click)="setLicences()" color="primary" class="app-mr-2">{{'magazines.nastavit_licenci' | translate}}</button>
          <button mat-flat-button (click)="removeJournal()" color="warn" class="app-mr-2">{{ 'magazines.smazat_casopis' | translate }}</button>
          <button mat-flat-button (click)="cancel()">{{ 'magazines.zrusit' | translate }}</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'magazines.editori' | translate">
      <div class="app-fxLayout app-row app-mt-8">
        <div class="app-left">
          <button mat-flat-button (click)="addEditor()" color="primary" class="app-w-100 app-text-left app-mb-4"><mat-icon>add</mat-icon>{{ 'magazines.pridat_editora' | translate }}</button>
          <mat-list role="list" class="app-view-admin">
            <mat-list-item *ngFor="let editor of editors" [class.app-active]="currentEditor && currentEditor.id === editor.id" role="listitem" (click)="editEditor(editor)" class="app-cursor-pointer">
              <a>{{ editor.id }}</a><ng-container *ngIf="!editor.id">ID chybi ...</ng-container>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="currentEditor" class="app-right app-fxFlex">
          <app-editor-edit [editor]="currentEditor"></app-editor-edit>
          <button mat-flat-button (click)="saveEditor()" color="primary" class="app-mr-2">{{ 'magazines.ulozit_editora' | translate }}</button>
          <button mat-flat-button (click)="removeEditor()" color="warn" class="app-mr-2">{{ 'magazines.smazat_editora' | translate }}</button>
          <button mat-flat-button (click)="cancel()">{{ 'magazines.zrusit' | translate }}</button>
         </div>
      </div>
    </mat-tab>
    <mat-tab  [label]="'magazines.sprava_uzivatelu' | translate "><!-- *ngIf="magState.user?.isAdmin" -->
      <div class="app-fxLayout app-row app-mt-8">
        <div class="app-left">
          <button mat-flat-button (click)="addUser()" color="primary" class="app-w-100 app-text-left app-mb-4"><mat-icon>add</mat-icon>{{ 'magazines.pridat_uzivatele' | translate }}</button>
          <mat-list role="list" class="app-view-admin">
            <mat-list-item *ngFor="let user of users" [class.app-active]="currentUser && currentUser.username === user.username" role="listitem" (click)="editUser(user)" class="app-cursor-pointer">
              <a>{{ user.username }}</a>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngIf="currentUser" class="app-fxFlex app-right">
          <app-user-edit [user]="currentUser"></app-user-edit>
          <button mat-flat-button (click)="saveUser()" color="primary" class="app-mr-2">{{ 'magazines.ulozit_uzivatele' | translate }}</button>
          <button mat-flat-button (click)="resetPwd()" color="primary" class="app-mr-2">{{ 'magazines.resetovat_heslo' | translate }}</button>
          <button mat-flat-button (click)="removeUser()" color="warn" class="app-mr-2">{{ 'magazines.smazat_uzivatele' | translate }}</button>
          <button mat-flat-button (click)="cancel()">{{ 'magazines.zrusit' | translate }}</button>
         </div>
      </div>
    </mat-tab>
    <!-- <mat-tab  [label]="'magazines.aplikace' | translate ">
      <div class="app-fxLayout app-row app-mt-8">
        <div class="app-left">
          Editace stranek
        </div>
        <div *ngIf="currentUser" class="app-fxFlex app-right">
          <app-user-edit [user]="currentUser"></app-user-edit>
          <button mat-flat-button (click)="saveUser()" color="primary" class="app-mr-2">{{ 'magazines.ulozit_uzivatele' | translate }}</button>
          <button mat-flat-button (click)="cancel()">{{ 'magazines.zrusit' | translate }}</button>
         </div>
      </div>
    </mat-tab> -->
  </mat-tab-group>
</div>
