<div class="app-p-4 app-text-content">
  
  <app-article-info [article]="state.viewerArticle" [journal]="state.viewerJournal"></app-article-info>

  <h2 class="app-headline app-mt-4">{{ 'Citace (ISO 690)' | translate }}</h2>
  <p [innerHtml] = "citace"></p>
  <p>{{'Available from' | translate}}:<br />
    <a [href]="location" target="_blank">{{location}}</a>
  </p>
  
  <h2 *ngIf="state.viewerArticle?.hasReferences" class="app-headline app-mt-4">{{ 'references' | translate }}</h2>
  <p *ngIf="state.viewerArticle?.hasReferences">
    <ng-container *ngFor="let ref of state.viewerArticle.references">{{ ref }} <br/> </ng-container>
  </p>
</div>

