.app-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

::ng-deep {
  @media only screen and (max-width: 700px) {
    .app-form-field {
      .mat-mdc-form-field-flex {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .mat-mdc-form-field-icon-prefix {
          width: 100%;

          .mat-mdc-button-base {
            width: 100%;
            margin: 0 !important;
          }
        }

        .mat-mdc-form-field-infix {
          width: 100%;
        }

        .mat-mdc-form-field-icon-suffix {
          width: 100%;
          margin: 0 !important;

          .app-row {
            margin: 0 !important;

            .mat-mdc-button-base {
              flex: 1 1 1e-09px;
              margin-left: 0 !important;
            } 
          }
        }
      }
    }

    .app-mobile-row {
      flex-direction: column !important;

      .app-left {
        width: 100%;
        display: flex;
        flex-direction: column;

        .mat-mdc-button-base {
          margin-right: 0 !important;
          margin-bottom: 16px;
        }
      }

      .app-right {
        width: 100%;
      }
    }
  }
}
