<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()" routerLink="casopisy" routerLinkActive="app-active" color="primary" [title]="'magazines.seznam_casopisu' | translate">{{ 'magazines.seznam_casopisu' | translate }}</a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="o-projektu" routerLinkActive="app-active" color="primary" [title]="'magazines.o_projektu' | translate">{{ 'magazines.o_projektu' | translate }}</a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="vydavatele" routerLinkActive="app-active" color="primary" [title]="'magazines.vydavatele' | translate">{{ 'magazines.vydavatele' | translate }}</a>
  <a mat-list-item (click)="onSidenavClose()" routerLink="kontakt" routerLinkActive="app-active" color="primary" [title]="'magazines.kontakt' | translate">{{ 'magazines.kontakt' | translate }}</a>
  <a mat-list-item (click)="onSidenavClose()" *ngIf="state.logged" routerLink="admin" routerLinkActive="app-active" color="primary" [title]="'magazines.administrace' | translate">{{ 'magazines.administrace' | translate }}</a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="onSidenavClose()" *ngIf="!state.logged" routerLink="prihlaseni" routerLinkActive="app-active" color="primary" [title]="'magazines.prihlasit' | translate">{{ 'magazines.prihlasit' | translate }}</a>
  <a mat-list-item (click)="onSidenavClose()" *ngIf="state.logged" (click)="logout()" color="primary" [title]="'magazines.odhlasit' | translate">{{ 'magazines.odhlasit' | translate }}</a>
  <a mat-list-item *ngIf="translate.currentLang === 'cs'" color="primary" (click)="translate.use('en')" [title]="'desc.en' | translate">{{ 'EN' | translate }}</a>
  <a mat-list-item *ngIf="translate.currentLang === 'en'" color="primary" (click)="translate.use('cs')" [title]="'desc.cs' | translate">{{ 'CS' | translate }}</a>
</mat-nav-list>