
@import "../../../../sass-magazines/app-theme-default";
@import "../../../../sass-magazines/app-variables";
@import "../../../../sass-magazines/app-mixins";


.mat-mdc-list-item {
  background-color: transparent !important;

  &.app-active {
    background-color: $app-gray-1 !important;
    font-weight: bold;
    border-radius: 0;

    .mdc-list-item__primary-text {
      color: var(--palette-primary-500) !important;
    }
  }

  .mat-icon {
    @include setIcon(20, inherit, sub);
    margin-right: $app-gap-icon;
  } 
}