<div class="app-test">
  <mat-list *ngIf="state.filters.length > 0">
    <h3 matSubheader class="app-fxLayout app-row">
      <div class="app-fxFlex">{{ 'used_filters' | translate }}</div>
      <a [matTooltip]="'Zrušit všechny filtry'" matTooltipPosition="above" (click)="removeAllFilters()"><mat-icon class="material-icons-outlined">highlight_off</mat-icon></a>
    </h3>
    <div class="app-list-content-wrapper">
      <mat-list-item *ngFor="let facetUsed of state.filters; let idx = index;">
        <a [matTooltip]="'Odstranit tento filtr'" matTooltipPosition="above" (click)="removeFilter(facetUsed.field, idx)" class="app-mr-1"><mat-icon>clear</mat-icon></a>
        <div>
          <span>{{ facetUsed.field | translate }}: </span>
          {{ facetUsed.field === 'oblast' ? facetUsed.value.split('_',2)[1] : facetUsed.value }}
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>