.mat-toolbar {  
  .app-left {
    &.app-desktop {
      display: none;
    }

    &.app-mobile {
      display: block;
    }
    
    @media only screen and (min-width: 1070px) {
      &.app-desktop {
        display: block;

        .mat-mdc-menu-trigger {
          .mat-icon {
            margin-right: -2px !important;
          }
        }
      }

      &.app-mobile {
        display: none;
      }
    }
  }

  .app-active {
    background-color: rgba(var(--app-color-lightnes-rgb), .15);
  }
}


::ng-deep .app-login {

   
  padding: 0px !important; 
  min-width: 32px !important;

   .mat-mdc-button-touch-target {
    width: 32px !important;
  }
   .mat-mdc-focus-indicator {
    width: 32px !important;
  }
   .mat-mdc-button-ripple {
    width: 32px !important;
  }
}

  