<div class="app-fxLayout app-row app-fill app-center-v app-center-h">
  <mat-card>
    <mat-card-title class="app-mb-4 app-text-center">
      {{ 'magazines.prihlaseni_do_administrace' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="example-form-field" appearance="outline" class="app-w-100">
        <mat-label>{{ 'magazines.uzivatel' | translate }}</mat-label>
        <input matInput type="text" #loginuser id="loginuser" type="text" name="loginuser" value="" [placeholder]="'magazines.uzivatel' | translate" (keyup.enter)="focusp($event, loginpwd)">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline" class="app-w-100">
        <mat-label>{{ 'magazines.heslo' | translate }}</mat-label>
        <input matInput type="password" id="loginpwd" type="password" name="loginpwd" [placeholder]="'magazines.heslo' | translate" #loginpwd (keyup.enter)="service.login()">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      
      <mat-card class="app-alert app-warning app-mb-4" *ngIf="state.loginError">
        <mat-card-content><mat-icon>error</mat-icon>{{ 'magazines.spatne_prihlasovaci_udaje' | translate }}.</mat-card-content>
      </mat-card>
      <button mat-flat-button *ngIf="!state.logged" color="primary" (click)="service.login()" class="app-w-100">{{ 'magazines.prihlasit_uzivatele' | translate }}</button>
      <button mat-flat-button *ngIf="state.logged" color="primary" (click)="service.logout()" class="app-w-100">{{ 'magazines.odhlasit' | translate }}</button>
    </mat-card-content>
  </mat-card>
</div>