<div class="app-nav-tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation"><span>{{'Administrace' | translate}}:</span></li>
          <li role="presentation" [class.active]="tab === 'config'"  >
            <a (click)="tab = 'config'" class="app-item-authors">{{'Konfigurace' | translate}}</a></li>
          <li role="presentation" [class.active]="tab === 'ui'" >
            <a (click)="tab = 'ui'"  >{{'Rozhrani' | translate}}</a></li>
        </ul>
      </div><!--/.col -->
    </div><!--./row -->
  </div><!--/.container -->
</div><!--/.app-nav-tabs -->

<section class="app-content" *ngIf="state.ctx">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ng-container *ngIf="tab === 'ui'">
          <div class="row">
            <div class="col-xs-3">
              <ul class="list-unstyled app-admin-nav" *ngIf="menu.length > 0">
                <li role="app-page-nav" [class.active]="selected === 'home'">
                  <strong>
                    <a (click)="select('home', null)">{{'menu.home_' | translate}}</a>
                  </strong>
                </li>
                <li role="app-page-nav" [class.active]="selected === 'footer'">
                  <strong>
                    <a (click)="select('footer', null)">{{'menu.footer' | translate}}</a>
                  </strong>
                </li>
                <li role="app-page-nav" *ngFor="let m of menu" [class.active]="selected === m.label">
                  <strong>
                    <a (click)="select(m.label, null)">{{'menu.'+m.label+'_' | translate}}</a>
                    <input type="checkbox" [(ngModel)]="m.visible" (change)="changeVisible()" />
                  </strong>
                  <ul class="nav-pills nav-stacked">
                    <li role="app-page-nav" *ngFor="let m1 of m.menu"
                      [class.active]="selected === m.label + '/' +m1.route">
                      <a (click)="select(m.label, m1.route)">{{'menu.'+m.label+'.'+m1.route+'_' | translate}}</a>
                      <input type="checkbox" [(ngModel)]="m1.visible" (change)="changeVisible()" />
                    </li>
                  </ul>
                </li>
              </ul>
              <button type="button" class="btn app-btn app-btn-default"
                (click)="saveMenu()">{{'admin.Save_selected_pages' | translate}}</button>
            </div>
            <!--/.col -->
            <div class="col-xs-9">
              <h3>{{selected}} <span class="app-brand-text text-darken-1">({{state.currentLang}})</span>

              </h3>
              <div *ngIf="saved" class="alert alert-success" role="alert">
                {{'text.save-note-1' | translate}} <strong>{{selected}} ({{state.currentLang}})</strong>
                {{'text.save-note-2' | translate}}!
              </div>
              <form class="clearfix">
                <!-- <textarea class="form-control" rows="28" [id]="elementId"></textarea> -->
                <editor *ngIf="tinyInited" name="editor" [(ngModel)]="text" [init]="tinyConfig"></editor>




              </form>
              <!--/.clearfix -->
            </div>
            <!--/.col -->
          </div>
          <!--/.row -->
        </ng-container>

        <ng-container *ngIf="tab === 'config'">
          <div class="row app-mt-5">
            <div class="col-xs-12">
              <div class="form-inline pull-left">
                <div class="form-group">
                  <input type="text" class="form-control" id="indexUUID" name="indexUUID" placeholder="uuid" [(ngModel)]="indexUUID">
                </div>
                <button type="button" class="btn app-btn app-btn-default app-mr-2" (click)="index()">{{'admin.add_uuid' | translate}}</button>
                <button type="button" class="btn app-btn app-btn-default app-mr-4" (click)="openConfirm()">{{'admin.delete_uuid' | translate}}</button>
                <span>{{ 'admin.cover' | translate }}</span>:
                <div class="form-group">
                  <input class="form-control"  type="file" ng2FileSelect [uploader]="coverUploader" [title]="'nahrát obrázek' | translate">
                </div>
                <button type="button" class="btn app-btn app-btn-default" (click)="uploadCover()">{{'admin.Upload' | translate}}</button>{{ coverMsg }}
              </div>
              <div *ngIf="working">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{'admin.Indexing' | translate}} ...
              </div>
            </div>
          </div>
          <div *ngIf="resultMsg && !working" class="row">
            <div class="alert alert-success" role="alert">
              {{resultMsg}} {{'text.indexed-note' | translate}}!
            </div>
          </div>
          
          <div class="row">
            <input type="text" class="form-control" name="licence" placeholder="licence" [(ngModel)]="state.ctx.licence">
            <button type="button" class="btn app-btn app-btn-default app-mr-4" (click)="setLicences()" >{{'magazines.nastavit_licenci' | translate}}</button>
          </div>

          <!--/.row -->
        </ng-container>

      </div>
      <!--/.col -->
    </div>
    <!--/.row -->
  </div>
  <!--/.container -->
</section>

<ng-template #filesModal>
</ng-template>

<div bsModal #comfirmTemplate="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{'admin.confirm_delete' | translate}} {{ indexUUID }}</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{'admin.Files' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeFiles()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span><input type="file" ng2FileSelect [uploader]="uploader" (onCompleteAll)="uploaded()" />
          <button type="button" class="btn btn-success btn-s" (click)="uploadFile()"
            [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span>{{'admin.Upload' | translate}}</button>

        </span>
        <ul>
          <li *ngFor="let f of fileList"><a (click)="selectFile(f)">{{f}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div bsModal #licencesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ 'magazines.licence_pro' | translate }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="licencesModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="state.ctx?.journal && cache[state.ctx?.journal!]">
        <table [cellPadding]="0" [cellSpacing]="0" class="app-table app-w-100">
          <tbody>
            <tr *ngFor="let item of cache[state.ctx?.journal!].children">
              <td>{{ item.label }}</td>
              <td>
                <input id="licence" name="licence" type="text" [(ngModel)]="cache[item.pid].licence" class="app-input" [placeholder]="'licence' + '...' | translate">
                <div *ngIf="cache[item.pid]?.children && cache[item.pid]?.show">
                  <div *ngFor="let sitem of cache[item.pid].children">
                    <label class="app-label app-mr-2">{{ sitem.label }}:</label> 
                    <input name="slicence" type="text" [(ngModel)]="cache[sitem.pid].licence" class="app-input app-mt-2" [placeholder]="'licence' + '...' | translate">
                  </div>
                </div>
              </td>
              <td>
                <button mat-button color="primary" (click)="getChildren(item.pid, item)" [class]="cache[item.pid]?.show ? 'app-rotate-up' : 'app-rotate-down'">
                   {{ cache[item.pid]?.show ? ('magazines.skryt_cisla' | translate ) : ('magazines.zobrazit_cisla' | translate) }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div >
          <button type="button" class="btn btn-success btn-s" (click)="save()">{{ 'magazines.ulozit' | translate }}</button>
          <button type="button" class="btn btn-success btn-s" (click)="licencesModal.hide()">{{ 'magazines.zavrit' | translate }}</button>
        </div>

      </div>
    </div>
  </div>
</div>
