<div class="app-container" *ngIf="editor">
  <div class="app-page-wrapper">
    <h2>{{ editor.name }}</h2>
    <p>
      <label class="app-label">{{ 'magazines.adresa' | translate }}: </label>{{editor.adresa}}<br />
      <label class="app-label">{{ 'magazines.web' | translate }}: </label><a [href]="editor.web" [title]="editor.name" target="_blank">{{editor.web}}</a>
    </p>
    <div class="app-mb-2">
      <strong>{{ 'magazines.vydavane_casopisy' | translate }}:</strong>
    </div>
    <div *ngIf="state.magazines.length > 0">
      <app-seznam-item *ngFor="let resultItem of state.magazines" [resultItem]="resultItem"></app-seznam-item>
    </div>
  </div>
</div>