<div class="section">
  <div class="row">
    <mz-input-container >
      <input mz-input [label]="'Id' | translate" id="editor_id" name="editor_id" type="text" [(ngModel)]="editor.id" required><span class="validity"></span>
    </mz-input-container>
    <mz-input-container >
      <input mz-input [label]="'typ' | translate" id="editor_typ" name="editor_typ" type="text" [(ngModel)]="editor.typ">
    </mz-input-container>
    <mz-input-container >
      <input mz-input [label]="'Name' | translate" id="editor_name" name="editor_name" type="text" [(ngModel)]="editor.name" required><span class="validity"></span>
    </mz-input-container>
    <mz-input-container >
      <input mz-input [label]="'Web' | translate" id="editor_web" name="editor_web" type="text" [(ngModel)]="editor.web">
    </mz-input-container>
    <mz-input-container >
      <input mz-input [label]="'adresa' | translate" id="editor_adresa" name="editor_adresa" type="text" [(ngModel)]="editor.adresa">
    </mz-input-container>
  </div>

</div>